body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('assets/images/photo_5375349260154955713_y.jpg') no-repeat center center fixed; 
    background-size: cover; 
}

.container {
    width: 80%;
    margin: auto;
}

header, footer {
    background: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header a, footer a {
    color: #fff;
    text-decoration: none;
}
